.gm{
 width: 255px;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: aliceblue;
margin: auto;
font-weight: 500;
}
.title{
    background-color: rgb(113, 187, 255);
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: blue;
}
.sq{
    width: 80px;
    height: 80px;
    background-color: rgb(113, 187, 255);
    float: left;
    margin: 2px;
    font-size: 50px;
}
.sq:hover{
    background-color: brown;
    cursor: pointer ;
}